@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Arsenal&display=swap");

body {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Arsenal", sans-serif;
  margin-left: 5px;
  margin-right: 5px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header img {
  width: 100px;
}

.headerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
}

.header h3 {
  font-size: 50px;
}

.headerText h1,
h2 {
  font-weight: 600;
}

.headerText p {
  font-size: 16px;
}

.menuBar {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  border-color: rgb(0 0 0);
  border-bottom-width: 4px;
}

.menuBarButt {
  border-width: 1px;
  background-color: rgb(255, 255, 255);
  border-color: #f8992a;
  color: #f8992a;
  border-radius: 5px;
  margin: 4px;
  margin-bottom: 16px;
  padding: 6px;
  white-space: nowrap;
}

.menuBarButt:hover {
  background-color: #f8992a;
  color: rgb(255, 254, 254);
}

.menuBarButtClicked {
  background-color: #f8992a;
  color: rgb(255, 254, 254);
}

.partHeadIco {
  width: 30px;
  height: 30px;
}

.blackUnderlline {
  margin-top: 20px;
  border-color: black;
  border-bottom-width: 4px;
}

.partHead {
  margin-top: 10px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

.partName {
  color: #f8992a;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}

.partSection {
  text-align: center;
  font-style: italic;
  font-weight: 600;
  margin-top: 18px;
}

.partItem {
  margin-top: 20px;
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 10px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.partItemHotDrinks {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  justify-items: start;
  gap: 10px;
  margin-left: 15%;
  margin-right: 5%;
}

.itemPortionPriceHotDrinks {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  justify-items: start;
  gap: 10px;
  margin-left: 40px;
}

.itemDescripHotDrinks {
  font-weight: 300;
  font-size: 14px;
}

.itemName {
  font-weight: 700;
  font-size: 18px;
  text-align: start;
}

.itemDescrip {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

.itemPortionPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.itemPortion {
  font-size: 12px;
}

.itemPrice {
  color: #f8992a;
  font-size: 16px;
  font-weight: 700;
}

.itemPicture {
  width: 200px;
  height: 200px;
}

.itemPicture img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px;
  font-size: 16px;
}

@media (min-width: 481px) {
  .header img {
    width: 150px;
  }

  .headerText h1,
  h3 {
    padding-bottom: 10px;
    font-weight: 600;
  }

  .menuBarButt {
    margin: 4px;
    padding: 7px;
    font-size: 18px;
  }

  .partHeadIco {
    width: 35px;
    height: 35px;
  }

  .partName {
    font-size: 24px;
  }

  .itemName {
    font-size: 22px;
  }

  .itemPortion {
    font-size: 18px;
  }

  .itemDescrip {
    font-size: 18px;
  }

  .itemPrice {
    font-size: 18px;
  }

  .itemDescripHotDrinks {
    font-size: 16px;
  }
}

@media (min-width: 769px) {
  .header img {
    width: 200px;
  }

  .headerText {
    font-size: 22px;
  }

  .headerText h1,
  h3 {
    padding-bottom: 16px;
  }

  .headerText p {
    font-size: 18px;
  }

  .menuBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  .menuBarButt {
    margin: 8px;
    padding: 7px;
    font-size: 18px;
  }

  .partHeadIco {
    width: 40px;
    height: 40px;
  }

  .partDesc {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .partName {
    font-size: 26px;
  }

  .partSection {
    font-size: 20px;
  }

  .itemName {
    font-size: 20px;
  }

  .itemDescrip {
    font-size: 16px;
  }

  .itemPortion {
    font-size: 20px;
  }

  .itemPrice {
    font-size: 20px;
  }

  .itemPicture {
    width: 200px;
    height: 200px;
  }

  .partItemHotDrinks {
    padding-left: 15%;
  }

  .itemDescripHotDrinks {
    font-size: 16px;
  }
  .footer {
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  .headerText {
    font-size: 24px;
  }

  .headerText h1,
  h3 {
    padding-bottom: 18px;
  }

  .headerText p {
    font-size: 18px;
  }

  .menuBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
  }

  .menuBarButt {
    margin: 8px;
    padding: 8px;
    font-size: 20px;
  }

  .partHeadIco {
    width: 40px;
    height: 40px;
  }

  .partDesc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .partName {
    font-size: 26px;
  }

  .partSection {
    font-size: 20px;
  }

  .itemName {
    font-size: 20px;
  }

  .itemDescrip {
    font-size: 16px;
  }

  .itemPortion {
    font-size: 20px;
  }

  .itemPrice {
    font-size: 20px;
  }

  .itemPicture {
    width: 200px;
    height: 200px;
  }

  .partItemHotDrinks {
    padding-left: 15%;
  }

  .itemDescripHotDrinks {
    font-size: 20px;
  }

  .footer {
    font-size: 18px;
  }
}

@media (min-width: 1201px) {
  .header img {
    width: 250px;
  }

  .headerText {
    font-size: 26px;
  }

  .headerText h1,
  h3 {
    padding-bottom: 20px;
    font-weight: 600;
  }

  .headerText p {
    font-size: 20px;
  }

  .menuBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
  }

  .menuBarButt {
    margin: 8px;
    padding: 8px;
    font-size: 20px;
  }

  .partHeadIco {
    width: 60px;
    height: 60px;
  }

  .partDesc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .partName {
    font-size: 28px;
  }

  .partSection {
    font-size: 22px;
  }

  .itemName {
    font-size: 22px;
  }

  .partItemHotDrinks {
    padding-left: 15%;
  }

  .itemDescripHotDrinks {
    font-size: 20px;
  }

  .itemDescrip {
    font-size: 18px;
  }

  .itemPortion {
    font-size: 22px;
  }

  .itemPrice {
    font-size: 22px;
  }

  .itemPicture {
    width: 250px;
    height: 250px;
  }

  .footer {
    font-size: 20px;
  }
}
