@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: rgb(245, 236, 223);
  font-size: 16px;
  height: 100%;
}

.blackUnderlline {
  margin-top: 20px;
  
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  border-bottom-width: 4px;
}

.menuPart {
  margin-left: 5px;
  margin-right: 5px;
}

.partHead {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-bottom: -25px;
  margin-left: 40px;
}

.partHeadIco {
  margin-left: -20px;
  margin-right: -20px;
}

.partName {
  margin-bottom: 12px;
  font-size: 23px;
  line-height: 36px;
}

.partHeadDescr {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 16px;
  text-align: center;
}

.partSection {
  text-align: center;
  font-weight: 700;
}

.partItem {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; */
  margin-top: 20px;
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 10px;

  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.itemName {
  font-weight: 500;
  font-size: 16px;
  text-align: start;
  margin-bottom: -5px;
}

.itemDescrip {
  font-weight: 300;
  font-size: 12px;
  text-align: start;
}

.itemPortion {
  font-size: 16px;
}

.itemPrice {
  font-size: 16px;
  font-weight: 500;
}
