@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(245, 236, 223);
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.blackUnderlline {
  margin-top: 20px;
  border-color: black;
  border-bottom-width: 4px;
}

.partHead {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  
}

.partName {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 30px;
}

/* .partHeadDescr {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 16px;
  text-align: center;
} */

.partSection {
  text-align: center;
  font-weight: 600;
}

.partItem {
  margin-top: 20px;
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 10px;

  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.itemName {
  font-weight: 500;
  font-size: 16px;
  text-align: start;
  margin-bottom: -5px;
}

.itemDescrip {
  font-weight: 300;
  font-size: 12px;
  text-align: start;
}

.itemPortion {
  font-size: 16px;
}

.itemPrice {
  font-size: 16px;
  font-weight: 500;
}
